<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SysPriority - Médico</title>
    <link rel="stylesheet" href="../static/css/cssCards.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <header class="cabecalho">
        <article>
            <p>Menu</p>
        </article>
        <h1>SysPriority</h1>
        <article>
            <p>Médico</p>
        </article>
    </header>
    <main>
        <section id="cardPacienteAtual" class="card">
            <header>
                <h2>Paciente atual</h2>
                <button class="btn botaoFinalizar btn btn-outline-primary" title="Finalizar atendimento">
                    <i class="bi bi-check2"></i>
                </button>
            </header>
            <div>
            <article>
                <p>Nome cliente</p>
            </article>
            <article>
                <p>Caso</p>
            </article>
            <article>
                <p>Tipo sanguíneo</p>
            </article>
            <article>
                <p>Altura</p>
            </article>
            </div>
            <div>
            <article>
                <p>Descrição detalhada</p>
            </article>
            </div>
        </section>
        <section id="cardProximo" class="card">
            <header>
                <h2>Próximo da fila</h2>
            </header>
            <div>
            <article>
                <p>Nome cliente</p>
            </article>
            <article>
                <p>Tempo de espera</p>
            </article>
            <article>
                <p>Caso</p>
            </article>
            </div>
        </section>
    </main>
</body>
</html>