<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SysPriority - Recepcionista</title>
    <link rel="stylesheet" href="../static/css/cssCards.css">
</head>
<body>
    <header class="cabecalho">
        <article>
            <p>Menu</p>
        </article>
        <h1>SysPriority</h1>
        <article>
            <p>Recepcionista</p>
        </article>
    </header>
    <main>
        <section id="cardAtendimento" class="card">
            <header>
                <h2>Em Atendimento</h2>
            </header>
            <div>
            <article>
                <p>Nome cliente</p>
            </article>
            <article>
                <p>Nome médico</p>
                <p>Tempo de atendimento</p>
            </article>
            </div>
        </section>
        <section id="cardEspera" class="card">
            <header>
                <h2>Lista de espera</h2>
            </header>
            <div>
            <article>
                <p>Nome cliente</p>
                <p>Score</p>
            </article>
            <article>
                <p>Caso</p>
                <p>Tempo de espera</p>
            </article>
            </div>
        </section>
        <section id="cardMedicos" class="card">
            <header>
                <h2>Médicos</h2>
            </header>
            <div>
            <article>
                <p>Nome médico</p>
                <p>Estado</p>
            </article>
            <article>
                <p>Nome cliente</p>
            </article>
            </div>
        </section>
    </main>
</body>
</html>